###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
BOOmates/Library/




























BOOmates/Library/assetDatabase3
BOOmates/Library/CurrentLayout-default.dwlt
BOOmates/Library/CurrentMaximizeLayout.dwlt
BOOmates/Library/InspectorExpandedItems.asset
BOOmates/Library/LastSceneManagerSetup.txt
BOOmates/Library/metadata/1d/1d68832237a657b479e6bf7a941ba4e8.info
BOOmates/Library/metadata/4c/4cfad7ed7fc2c5044883a228077ff2c5
BOOmates/Library/metadata/88/887e581126f360242828050e55afb71e.info
BOOmates/Library/metadata/ce/ce74f37fae10eb444a46245e221db088.info
BOOmates/Library/ScriptAssemblies/Assembly-CSharp.dll
BOOmates/Library/ScriptAssemblies/Assembly-CSharp.pdb
BOOmates/Library/ShaderCache/EditorEncounteredVariants
BOOmates/Library/StateCache/Hierarchy/9b81fc-mainStage.json
BOOmates/Library/StateCache/SceneView/7f5c4e-mainStage.json
